<% provide(:title, @product.name) %>
<%= render 'light_section', product: @product %>
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'main_content', product: @product %>
    <%= render 'related_products' %>
  </div>
</section>
